@media  screen and (max-width: 700px) {
    .item .title{
        display: flex;
        font-size: 10vh;
    }

    .item .fruit{
        display: none;
        /* width: 100%;
        position: relative;
        top: 50%;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .item .refri{
        z-index: 2;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    
    }
}